---
import presentation from "@/data/presentation";
---


<ul role="list" class="social-links flex flex-row gap-2">
  {
    presentation.socials.map((social, index) => (
      <>
        <li>
          <a href={social.link} target="_blank">
            <style>
              svg {              
                transition-duration: 300ms;
              }
              svg:hover {
                transform: translateY(-2px);
                color: #e0dede;
              }
            </style>
            <Fragment set:html={social.icon}/>
          </a>
        </li>
      </>
    ))
  }
</ul>
